
/* --- generals --- */

#body {
    margin: 0;
    background-color: #000;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.container-flex{
    display: flex;
}
.flex-grow-one{
    flex-grow: 1;
}

#header, #footer {
    padding: 10px;
}

#content, #content-bg-accueil {
    background-size: cover;
    background-position: right;
}

#header .ui-button-info, /* button in header */
#header form span .ui-button, /* button language in header */
#content .content-form-body-center .ui-button, /* button in crud */
#content .content-form-body-center .ui-inputfield, /* input in crud */
#content .content-form-body-center .ui-message-error-detail /* error in crud */
{
    font-size: 1.5rem;
}

#content .text-line-through {
    text-decoration: line-through;
}
#content .text-line-through * {
    text-decoration: line-through;
}

.hidde {
    display: none;
}
.show-input-line {
    animation-name: show-input-line;
    animation-duration: 1s;
}

.panel-align-right {
    text-align: right;
}

/* --- header --- */

#header #header-login-block{
    text-align: right;
}
#header #header-login-block > * {
    margin-bottom: 10px;
}
#header #header-main-container {
    margin: 0 10px 0 10px;
}
#header #header-hello-user {
    color: #effffe;
    text-align: right;
    font-size: 2rem;
    margin-top: 3px;
}

#header .header-line:nth-child(n + 2) {
    margin-top: 10px;
}

#header .ui-menu.ui-menubar {
    background-color: rgb(0, 0, 0, 0);
    border-color: rgb(0, 0, 0, 0);
}
#header .ui-menu.ui-menubar a.ui-menuitem-link,
#header .ui-menu.ui-menubar a.ui-menuitem-link > span {
    font-size: 1.3rem;
}
#header .ui-menu.ui-menubar a.ui-menuitem-link:hover,
#header .ui-menu.ui-menubar a.ui-menuitem-link:active {
    background-color: #027abc;
    color: #000;
}
#header .ui-menu.ui-menubar li.ui-menuitem.ui-menu-parent:has(> ul:empty) {
    display: none;
}

.ui-growl[id="form-pop-up-message:pop-up-message_container"] {
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
}

/* --- content --- */

#content {
    background-color: #effffe;
    padding: 5px 0 5px 0;
    background-image: url("http://localhost:8080/ProjectGamePath_war_exploded/images/webSiteBase/BackgroundAccueilTeck_20.png");
}

#content h1 {
    text-align: center;
}

/* --- generic table --- */

#content .content-table-body-center {
    margin: 20px;
}

#content .content-table-body-center th,
#content .content-table-body-center tr.ui-datatable-empty-message
{
    text-align: center;
}

#content .content-table-body-center .ui-datatable tr > th:nth-child(n + 2),
#content .content-table-body-center .ui-datatable tr > td:nth-child(n + 2)
{
    border-left: solid 1px #ebebeb;
}
#content .content-table-body-center .ui-datatable tr > td {
    border-color: #ebebeb;
}
#content .content-table-body-center .ui-datatable tr td:has(button) {
    text-align: center;
}

#content .content-table-body-center .ui-datatable .ui-paginator-bottom {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #f8f9fa;
}
#content .content-table-body-center .ui-datatable:has(> .ui-datatable-footer) .ui-paginator-bottom {
    border-radius: 0; /* if table has footer, no radius on paginator bottom */
}
#content .content-table-body-center .ui-datatable-tablewrapper thead tr th:first-child {
    border-top-left-radius: 4px;
}
#content .content-table-body-center .ui-datatable-tablewrapper thead tr th:last-child {
    border-top-right-radius: 4px;
}
#content .content-table-body-center .ui-datatable-header+ .ui-datatable-tablewrapper thead tr th:first-child,
#content .content-table-body-center .ui-datatable-header+ .ui-datatable-tablewrapper thead tr th:last-child
{
    border-radius: 0; /* if table has header, no radius on th */
}

#content .content-table-body-center .panel-table-header {
    display: flex;
}
#content .content-table-body-center .panel-table-header > * {
    flex-grow: 1;
}
#content .content-table-body-center .panel-table-header:nth-child(n+2){
    margin-top: 10px;
}

#content .content-table-body-center .panel-table-header label {
    font-size: 1.2rem;
}

/* --- generic form crud --- */

#content .content-form-body-center {
    width: 60%;
    margin: 20px auto 20px auto;
}

#content .panel-input {
    display: flex;
    margin: 5px 0 5px 0;
}
#content .panel-input > * {
    flex: 1;
}
#content .panel-input label.ui-widget {
    font-size: 1.5rem;
    padding-top: 0.5rem;
}
#content .panel-input-without-error {
    margin-bottom: 20px;
}

#content .content-form-body-center .panel-submit-crud {
    margin-top: 25px;
}
#content .content-form-body-center .panel-submit-crud > button{
    margin: 0 10px 0 10px;
}

#content .panel-input .p-datepicker > input,
#content .panel-input .ui-inputnumber > input
{
    width: 100%;
}

#content .panel-input .ui-selectbooleancheckbox > .ui-chkbox-box {
    margin-left: auto;
    width: 33px;
    height: 33px;
}

#content .content-form-body-center .panel-input:empty + hr.ui-separator,
#content .content-form-body-center hr.ui-separator + hr.ui-separator
{
    display: none;
}

#body:has(.content-form-body-center) ul.ui-selectonemenu-items > li.ui-noselection-option[disabled][data-label="---"], /* hidde placeholder combo box (in page crud) */
#body:has(.content-form-body-center) table.ui-selectonemenu-items tbody > tr.ui-noselection-option[data-label="---"] /* hidde placeholder combo box table (in page crud) */
{
    display: none;
}

#body:has(.content-form-body-center) div[id$="_panel"] *, /* panel combo box size text (in page crud) */
#body:has(.content-form-body-center) table[id$="_table"] * /* panel combo box table (in page crud) */
{
    font-size: 1.3rem;
}

/* --- accueil --- */

#content-bg-accueil {
    background-image: url("http://localhost:8080/ProjectGamePath_war_exploded/images/webSiteBase/BackgroundAccueilTeck.jpg");
}

#content:has(> #content-bg-accueil) {
    padding: 0;
}

#content-bg-accueil .h-content {
    padding-top: 5px;
}
#content-bg-accueil .h-content > h1{
    background-color: rgb(239, 255, 254, 0.2);
    color: #000;
}

#content-bg-accueil .content-body-center {
    height: 40em;
}

/* --- form crud catalog --- */

#content .content-form-body-center .panel-input .picture-resize {
    width: 100px;
}
#content .content-form-body-center .panel-input .button-delete-picture {
    width: 4rem;
    aspect-ratio: 1;
}
#content .content-form-body-center .panel-input .button-delete-picture > span {
    font-size: 2rem;
    transform: translate(-4px, -4px);
}

/* --- table catalog --- */

#content .content-table-body-center td:has(.price-reduction) {
    background-color: #e2ffe2;
}

/* --- footer --- */

#footer .block-footer {
    text-align: center;
    padding: 10px 0 10px 0;
}
#footer .block-footer:nth-child(n + 2) {
    border-left: #333 solid 2px;
}

#footer .icon-reseau {
    color: #333;
    background-color: rgb(0,0,0,0);
    border: none;
    box-shadow: none;
    width: 30px;
    height: 30px;
}
#footer .icon-reseau:nth-child(n + 3) {
    margin-left: 10px;
}
#footer .icon-reseau > span.ui-icon {
    font-size: 3rem;
    transform: translate(-10px, -10px);
}
#footer .block-footer .icon-reseau:hover {
    color: #effffe;
}

/* --- responsive phone --- */
@media (max-width:600px) {
    #header #header-hello-user {
        font-size: 1.5rem;
    }
    #header #header-logo {
        width: 15rem;
    }

    #content .content-form-body-center {
        width: 90%;
    }
}

/* --- animation --- */
@keyframes show-input-line {
    0% {
        margin-top: -53px;
        opacity: 0;
    }
    100% {
        margin-top: 5px;
        opacity: 1;
    }
}