
/* --- generals --- */

#body {
    margin: 0;
    background-color: #000;
    overflow: hidden;
}

* {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.containerFlex{
    display: flex;
}
.flexGrowOne{
    flex-grow: 1;
}

#header, #footer {
    padding: 10px;
}
#content {
    background-color: #effffe;
    padding: 5px 0 5px 0;
}

#header .ui-button-info, /* button in header */
#header form span .ui-button, /* button language in header */
#content .ui-button-info /* button in content */
{
    font-size: 1.5rem;
}

/* --- header --- */

#header #headerLoginBlock{
    text-align: right;
}
#header #headerLoginBlock > * {
    margin-bottom: 10px;
}

/* --- content --- */

#content h1{
    text-align: center;
}

#content .content-body-center {
    width: 60%;
    margin: 0 auto 0 auto;
}

/* --- footer --- */

#footer .pi.icon-reseau {
    font-size: 3rem;
}
#footer .pi.icon-reseau:nth-child(n + 2) {
    margin-left: 10px;
}

#footer .blockFooter {
    text-align: center;
    padding: 10px 0 10px 0;
}
#footer .blockFooter:nth-child(n + 2) {
    border-left: #333 solid 2px;
}
#footer .blockFooter .icon-reseau:hover {
    color: #effffe;
}